.box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.562);
  font-family: sans-serif;
  width: 300px;
  border-radius: 10px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 23px;
}

.box input[type="text"],
.box input[type="password"],
.box input[type="email"] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.logout {
  background: none;
  margin: 20px auto;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[type="password"] {
  border-color: #2ecc71;
}

.box input[type="email"]:focus {
  border-color: #2ecc71;
}

.box input[type="submit"] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type="submit"]:hover {
  background: #2ecc71;
}

.sign-up {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}
